/* #root{
  position:absolute;
  inset: 0px 0px 0px 0px;
} */
.App {
  text-align: center;
  margin-top: 50px;
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
.mr-0{
  margin-right: 0px;
}
.mr-5{
  margin-right: 5px;
}
.mr-10{
  margin-right: 10px;
}
.mr-15{
  margin-right: 15px;
}
.mr-20{
  margin-right: 20px;
}
.mr-25{
  margin-right: 25px;
}
.mr-30{
  margin-right: 30px;
}
.mr-35{
  margin-right: 35px;
}
.mr-40{
  margin-right: 40px;
}
.p-0{
  padding: 0;
}
.pl-0{
  padding-left: 0;
}.pr-0{
  padding-right: 0;
}